<div class="row col-md-8 col-md-offset-2">
  <h1><%= conversation.topic %></h1>
    <ul id="conversations-list" data-conversation="<%= conversation.id %>">
      <%= render 'conversations/conversation', conversation: conversation, user: current_user %>
    </ul>
</div>
